*{
  border: 1px solid red;
}
.searchbox{
	border:2px solid black;
}
.midpart{
	height: 290px;
}
.btn{
	color: white;
	background-color: black;
}
.maindisplay{
	display: flex;
}
.filter{
	height: 900px;
}
.hotel{
	height: 900px;
	overflow-y: scroll;
}